@page
@model PRY_3.Pages.UsuariosModel
@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff; 
            margin: 0;
            padding: 20px;
        }

        .content {
            border-radius: 8px;
            margin: auto;
        }


        .btn {
            padding: 15px 20px; /
            border: none;
            border-radius: 8px; 
            cursor: pointer;
            text-decoration: none;
            color: white;
            font-size: 8px; 
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .btn-primary {
            background-color: #4caf50; 
        }

        .btn-warning {
            background-color: #ffc107;
        }

        .btn-danger {
            background-color: #f44336;
        }

        .btn:hover {
            opacity: 0.9;
        }

        .search-form {
            display: inline-block;
            margin-left: 20px;
        }

        .search-form input[type="text"] {
            padding: 12px; 
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px; 
        }

       

        .alert {
            padding: 20px; 
            margin-top: 20px;
            border-radius: 8px; 
            font-size: 18px; 
        }

        .alert-success {
            background-color: #c8e6c9;
            color: #ffffff;
        }

        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }

        .delete-button, .modify-button {
            width: 50px; 
            height: 50px; 
            border-radius: 50%;
            border: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
            cursor: pointer;
            transition-duration: 0.3s;
            position: relative;
        }

        .delete-button {
            background-color: #dc3545;
        }

        .modify-button {
            background-color: #ffc107; 
        }

        .delete-button:hover, .modify-button:hover {
            width: 120px; 
            border-radius: 50px;
            background-color: #ff5722; 
        }

        .delete-svgIcon, .modify-svgIcon {
            width: 20px; 
            transition-duration: 0.3s;
        }

        .delete-svgIcon path, .modify-svgIcon path {
            fill: white;
        }

        .delete-button:hover .delete-svgIcon, .modify-button:hover .modify-svgIcon {
            width: 25px; 
            transform: rotate(360deg);
        }

        .delete-button::before, .modify-button::before {
            display: none;
            color: white;
            transition-duration: 0.3s;
            font-size: 12px;
        }

        .delete-button:hover::before {
            display: block;
            content: "Eliminar";
        }

        .modify-button:hover::before {
            display: block;
            content: "Modificar";
        }

        /* Desde Uiverse.io por alexruix */
        .group {
            display: flex;
            line-height: 28px;
            align-items: center;
            position: relative;
            max-width: 1000px;
        }

        .input2 {
            height: 40px; 
            line-height: 28px;
            padding: 0 1rem;
            width: 100lh;
            padding-left: 2.5rem;
            border: 2px solid transparent;
            border-radius: 8px;
            outline: none;
            background-color: #ffffff;
            color: #0d0c22;
            box-shadow: 0 0 5px rgb(138, 156, 136), 0 0 0 10px #567c5d1a;
        }

        .input2::placeholder {
            color: #777;
        }

        .icon {
            position: absolute;
            left: 1rem;
            fill: #777;
            width: 1rem;
            height: 1rem;
        }

        .custom-table {
            background-color: #e9f7ef;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .custom-row {
            background-color: #e9f7ef;
            border-bottom: 1px solid #ddd;
        }

        /* Estilos del formulario */
        .custom-form {
            background-color: #ffffff;
            padding: 30px; 
            border-radius: 8px; 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            margin: 10px 0;
        }

        .custom-label {
            display: block;
            margin-bottom: 10px; 
            font-weight: bold;
            color: #333;
            font-size: 16px; 
        }

        /* Estilos de entrada */
        .custom-input-text,
        .custom-input-email {
            width: calc(100% - 20px); 
            padding: 15px; 
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px; 
            transition: border-color 0.3s;
        }

        .custom-input-text:focus,
        .custom-input-email:focus {
            border-color: #007bff;
            outline: none;
        }

        .custom-button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 15px 20px; 
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px; 
            transition: background-color 0.3s;
        }

        .custom-button:hover {
            background-color: #0056b3;
        }

        /* Estilo para el botón de cancelar */
        .custom-button-cancel {
            background-color: #dc3545;
            margin-left: 10px;
        }

        .custom-button-cancel:hover {
            background-color: #c82333;
        }

        .role-label {
            display: block; /* Asegura que el label ocupe toda la línea */
            font-weight: bold; /* Hace que el texto del label sea más destacado */
            margin-bottom: 5px; /* Espacio entre el label y el select */
            color: #333; /* Color del texto */
            font-size: 16px; /* Tamaño de la fuente */
        }

        /* Estilo del select para el rol */
        .role-select {
            width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
            max-width: 400px; /* Ancho máximo para mantener la consistencia */
            padding: 15px; /* Aumentar el padding */
            border: 1px solid #ccc; /* Borde gris claro */
            border-radius: 4px; /* Bordes redondeados */
            font-size: 16px; /* Aumentar el tamaño de la fuente */
            transition: border-color 0.3s; /* Transición suave para el borde */
        }

        /* Estilo del select al recibir foco */
        .role-select:focus {
            border-color: #66afe9; /* Cambia el color del borde al recibir foco */
            outline: none; 
        }
        .form-group-horizontal {
            display: flex;
            align-items: center; /* Alinea verticalmente los elementos */
            gap: 15px; /* Espacio entre los elementos */
        }

        .form-group-horizontal div {
            margin-right: 10px; /* Espacio a la derecha de cada grupo de elementos */
        }

        .custom-label, .role-label {
            margin-right: 5px; /* Espacio entre la etiqueta y el campo */
        }
        /* Desde Uiverse.io por ernestnash */
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 13px;
    font-weight: 700;
    color: rgb(5, 5, 5);
    border: 3px solid transparent;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}


.btn.guardar {
    border-color: rgb(255, 193, 7); /* Amarillo */
}

.btn.guardar::before {
    background-color: rgb(255, 193, 7); /* Amarillo */
}

.btn.guardar:hover::before {
    transform: translateX(0);
}


.btn.cancelar {
    border-color: rgb(252, 70, 100); /* Rojo */
}

.btn.cancelar::before {
    background-color: rgb(252, 70, 100); /* Rojo */
}

.btn.cancelar:hover::before {
    transform: translateX(0);
}



    </style>
</head>
<body>
    <div class="content">
        <h2 class="mb-4 text-center" style="color: #eeaa0d;"><i class="fa-solid fa-users"> Usuarios</i></h2>
        
        <div class="form-group-horizontal">
            <div class="group" style="width: 850px;">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
                <input placeholder="Buscar por nombre" type="search" class="input2" id="searchInput" onkeyup="filterUsers()">
            </div>
            <div class="ms-auto">
                <button type="button" class="btn" style="background: #eeaa0d; color: #fff;" onclick="abrirModalAgregarUsuario()">
                    <i class="fas fa-plus"></i> Registrar Usuario
                </button>
            </div>
        </div>

        <style>
            thead {
                background-color: #0b8e36;
                color: #fff;
            }

            .table {
                font-size: 13px;
                border-radius: 10px;  
                border: 1px solid #dee2e6;  
                overflow: hidden;  
            }
            tbody {
                background-color: #fff;
            }

            .table th, .table td {
                border-radius: 0;
            }
        </style>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido 1</th>
                    <th>Apellido 2</th>
                    <th>Género</th>
                    <th>Lugar de Residencia</th>
                    <th>Rol</th>
                    <th>Correo Electrónico</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="userList">
                @foreach (var user in Model.users){
                    <tr id="user-@user.Cedula">
                        <td>@user.Cedula</td>
                        <td>@user.UserName</td>
                        <td>@user.Apellido_1</td>
                        <td>@user.Apellido_2</td>
                        <td>@user.Sexo</td>
                        <td>@user.Lugar_Recidencia</td>
                        <td>@user.Role</td>
                        <td>@user.correo</td>
                        <td>@user.Estado</td>
                        <td>
                            <button class="modify-button" style="margin-top: 10px;">
                                <svg class="modify-svgIcon" viewBox="0 0 512 512">
                                    <path d="M362.3 0c-4.4 0-8.8 1.7-12.1 5l-34.3 34.3 47.6 47.6 34.3-34.3c6.7-6.7 6.7-17.6 0-24.3l-5.7-5.7c-3.3-3.3-7.7-5-12.1-5zm-108.6 34.3L0 384.3V512h127.7l253.7-253.7-34.3-34.3-253.7 253.7H64V384.3l253.7-253.7-34.3-34.3z"></path>
                                </svg>
                            </button>
                            <form id="deleteForm" method="post" asp-page-handler="Borrar" style="display:inline;" onsubmit="return confirmDelete();">
                                <input type="hidden" name="cedula" value="@user.Cedula" />
                                <button type="submit" class="delete-button" style="margin-top: 10px;">
                                    <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>      
                    <tr id="editForm-@user.Cedula" style="display: none; background-color: #f7f7f7;">
                        <td colspan="10">
                            <form method="post" asp-page-handler="Modificar">
                                <input type="hidden" name="Cedula" value="@user.Cedula" />
                                <div>
                                    <label class="custom-label">Nombre:</label>
                                    <input type="text" name="UserName" value="@user.UserName" class="custom-input-text" />
                                </div>
                                <div>
                                    <label class="custom-label">Apellido 1:</label>
                                    <input type="text" name="Apellido_1" value="@user.Apellido_1" class="custom-input-text" />
                                </div>
                                <div>
                                    <label class="custom-label">Apellido 2:</label>
                                    <input type="text" name="Apellido_2" value="@user.Apellido_2" class="custom-input-text" />
                                </div>
                                <div>
                                    <label class="custom-label">Residencia:</label>
                                    <input type="text" name="Lugar_Recidencia" value="@user.Lugar_Recidencia" class="custom-input-text" />
                                </div>
                                <div>
                                    <label class="custom-label">Correo Electrónico:</label>
                                    <input type="text" name="correo" value="@user.correo" class="custom-input-text" />
                                </div>
                                <div class="form-group-horizontal">
                                    <div>
                                        <label class="role-label">Sexo:</label>
                                        @Html.DropDownList("Sexo", new SelectList(new List<SelectListItem>
                                        {
                                            new SelectListItem { Value = "Femenino", Text = "Femenino" },
                                            new SelectListItem { Value = "Masculino", Text = "Masculino" }
                                        }, "Value", "Text", user.Sexo), new { @class = "role-select" })
                                    </div>

                                    <div>
                                        <label class="role-label">Rol:</label>
                                        @Html.DropDownList("Rol", new SelectList(new List<SelectListItem>
                                        {
                                            new SelectListItem { Value = "Usuario", Text = "Usuario" },
                                            new SelectListItem { Value = "Administrador", Text = "Administrador" }
                                        }, "Value", "Text", user.Role), new { @class = "role-select" })
                                    </div>

                                    <div>
                                        <label class="role-label">Estado:</label>
                                        @Html.DropDownList("Estado", new SelectList(new List<SelectListItem>
                                        {
                                            new SelectListItem { Value = "Activo", Text = "Activo" },
                                            new SelectListItem { Value = "Inactivo", Text = "Inactivo" }
                                        }, "Value", "Text", user.Estado), new { @class = "role-select" })
                                    </div>
                                </div>
                                <button type="button" class="btn guardar" style="float: right; margin-top: 10px;" onclick="confirmarModificacion(event)">Guardar Cambios</button>
                                <button type="button" class="btn cancelar" style="float: right; margin-top: 10px;" onclick="toggleEditForm('@user.Cedula')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal para registrar nuevo usuario -->
        <div class="modal" tabindex="-1" id="modalAgregarUsuario">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas">Registrar Nuevo Usuario</i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formAgregarUsuario">
                            <div class="mb-3">
                                <label for="cedula" class="form-label">Cédula</label>
                                <input type="text" class="form-control" id="cedula" placeholder="Ingrese la cédula" required>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellido1" class="form-label">Apellido 1</label>
                                <input type="text" class="form-control" id="apellido1" placeholder="Ingrese el primer apellido" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellido2" class="form-label">Apellido 2</label>
                                <input type="text" class="form-control" id="apellido2" placeholder="Ingrese el segundo apellido" required>
                            </div>
                            <div class="mb-3">
                                <label for="genero" class="form-label">Género</label>
                                <select class="form-control" id="genero" required>
                                    <option value="">Seleccione el género</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="residencia" class="form-label">Lugar de Residencia</label>
                                <input type="text" class="form-control" id="residencia" placeholder="Ingrese el lugar de residencia" required>
                            </div>
                            <div class="mb-3">
                                <label for="rol" class="form-label">Rol</label>
                                <select class="form-control" id="rol" required>
                                    <option value="">Seleccione el rol</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Usuario">Usuario</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electrónico" required>
                            </div>
                            <button type="submit" class="btn btn-success">Registrar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="alert alert-success" style="display: none;">Usuario agregado con éxito.</div>
        <div class="alert alert-danger" style="display: none;">Error al agregar usuario.</div>
    </div>

    <script>
       function confirmarModificacion(event) {
            event.preventDefault();
            Swal.fire({
                title: 'Guardar cambios',
                text: '¿Está seguro de que desea guardar los cambios?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, guardar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    var formulario = event.target.closest('form');
                    if (formulario) {
                        formulario.submit(); 
                    } else {
                        console.error("No se encontró el formulario.");
                    }
                } else {
                    console.log("Modificación cancelada.");
                }
            });
        }
         function confirmDelete() {
            event.preventDefault(); 
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'No podrás recuperar este usuario una vez eliminado.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('deleteForm').submit();
                    Swal.fire('¡Eliminado!', 'El usuario ha sido eliminado.', 'success');
                }
            });
        }
        function toggleEditForm(cedula) {
            const form = document.getElementById(`editForm-${cedula}`);
            form.style.display = form.style.display === 'none' ? '' : 'none';
        }
       function filterUsers() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toLowerCase();
            const userList = document.getElementById('userList');
            const rows = userList.getElementsByTagName('tr');

            for (let i = 0; i < rows.length; i++) {
                if (i % 2 === 0) { 
                    const userName = rows[i].cells[1].innerText.toLowerCase();
                    if (userName.includes(filter)) {
                        rows[i].style.display = ''; 
                    } else {
                        rows[i].style.display = 'none'; 
                    }
                } else {
                    rows[i].style.display = 'none'; 
                }
            }
        }
        document.querySelectorAll('.modify-button').forEach(button => {
            button.addEventListener('click', function() {
            const userCedula = this.closest('tr').id.split('-')[1];
            const editRow = document.getElementById(`editForm-${userCedula}`);
            editRow.style.display = editRow.style.display === 'none' ? '' : 'none';
            });
        });

        function abrirModalAgregarUsuario() {
            var modal = new bootstrap.Modal(document.getElementById('modalAgregarUsuario'));
            modal.show();
        }

        document.getElementById('formAgregarUsuario').addEventListener('submit', function (event) {
            event.preventDefault();
            Swal.fire('¡Usuario agregado!', '', 'success');
        });

    </script>
</body>

